
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
body {
font-family: 'Press Start 2P', cursive;
font-size: 55px;
color:black;
background-color: white;

}


button {
	width: 170px;
	height: 80px;
	font-size: 16px;
	font-family: 'Press Start 2P', cursive;
	color:black;
	
}

.quitButt {
	background-color: gray;
}

.startButt{
	background-color: forestgreen;
}

.textBox{
	background-color: pink;
	height: 80px;
	width: 360px;
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	color:black;

}

div {
	font-size:30px;
}

.smaller {
	font-size: 40px;
}

canvas {
	background-color: forestgreen;
}
/*.container{
background-image: url('../static/images/geometry_@2X.png');
}*/
