
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
body {
	font-family: 'Press Start 2P', cursive;
	font-size: 55px;
	color:black;
	background-color: white;
}


div{
	text-align: center;
	display: block;
	margin: 0 auto;
	position: relative;
}

#message {
	display: block;
	margin: 0 auto;
	font-size: 30px;
}

#message2 {
	display: block;
	margin: 0 auto;
	font-size: 30px;
}


button {
	width: 170px;
	height: 80px;
	font-size: 16px;
	font-family: 'Press Start 2P', cursive;
	color:black;
	display: inline-block;
	
}

#field {
	position: absolute;
	top: 200px;
	left: 300px;
}

#mud {
	position: absolute;
	top: 208px;
	left: 400px;
}
p {
	text-align: center;
}

.pigButt {
	background-color: pink;
}

.quitButt {
	background-color: gray;
}

.startButt{
	background-color: forestgreen;
}

.nextButt{
	background-color: hotpink;
}

.textBox{
	background-color: pink;
	height: 80px;
	width: 360px;
	font-size: 30px;
	font-family: 'Press Start 2P', cursive;
	color:black;
	display: block;
	margin: 0 auto;

}



.smaller {
	font-size: 40px;
}

canvas {
	background-color: forestgreen;
}
/*.container{
background-image: url('../static/images/geometry_@2X.png');
}*/
