
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
body {
font-family: 'Press Start 2P', cursive;
font-size: 100px;
color:black;
background-color: white;

}

.smaller {
	font-size: 40px;
}

canvas {
	background-color: forestgreen;
}
/*.container{
background-image: url('../static/images/geometry_@2X.png');
}*/
